div.title
{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

div.tabs
{
    display: inline;
}

div.tabs-center
{
	position: relative;
	text-align: center;
	border: 1px solid black;
	float:left;
    width: 14.15%;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.general
{
    display:inline;
}
div.announcement
{
	border: 1px solid black;
    text-align: center;
    float:left;
    width:49.85%;
    position: relative;
}

div.overview
{
	border: 1px solid black;
    text-align: center;
    float:right;
    width:49.85%;
    position: relative;
}